# _Dictionaries & Pandas_

### Dictionaries - 대응 관계를 나타내는 자료형
* Dictionaries는 List ,Tuple 처럼 순차적으로 해당 요솟값을 구하지 않고 key를 통해 values값을 얻는다.
* {Key1:Value1, Key2:Value2, Key3:Value3, ...}

#### Dictionary 생성

In [3]:
dict = {'Kim Yeon-Koung':'volleyball','Son Heung-min':'football'}

#### dictonaries 에서 Key 사용해 Value 얻기  
  
* 리스트나 튜플, 문자열은 요솟값을 얻고자 할 때 인덱싱이나 슬라이싱 기법 중 하나를 사용했다.  
  하지만 딕셔너리는 단 한 가지 방법뿐이다. 바로 Key를 사용해서 Value를 구하는 방법이다.

In [3]:
dict['Son Heung-min'] # 'Son Heung-min' key를 이용해 'football' value 반환

'football'

#### keys , values 함수 사용

In [4]:
print(dict.keys()) # key는 unique,immutable object
print(dict.values())

dict_keys(['Kim Yeon-Koung', 'Son Heung-min'])
dict_values(['volleyball', 'football'])

#### Dictionary 요솟값 추가

In [5]:
# Add to value in dict 
dict['Me'] = 'study'
print('Me' in dict )
print(dict)

True
{'Kim Yeon-Koung': 'volleyball', 'Son Heung-min': 'football', 'Me': 'study'}

#### del 함수를 이용해 Dictionary 요솟값 제거

In [6]:
# Delete 
del dict['Me']

In [7]:
print(dict)

{'Kim Yeon-Koung': 'volleyball', 'Son Heung-min': 'football'}

#### Dictionary  생성시 주의사항

In [8]:
a = {1:'A',1:"B"} # 중복되는 key값 설정 시 하나를 제외한 나머지 값들은 무시 
a  

B = {1:('A','B','C'),(2,3):{'D','E','D'}}  #  key값 Tuple 가능,List불가  Dictionary에 key값은Immuatable 이면 가능 
                                           #  value값은 모두 가능    
B

{1: ('A', 'B', 'C'), (2, 3): {'D', 'E'}}

### Pandas - Python에서 DB처럼 테이블 형식의 데이터를 쉽게 처리할 수 있는 라이브러리 입니다.

In [9]:
import numpy as np
import pandas as pd

* pandas에서는 Series와 DataFrame 두 objects 가 있습니다 .
* Series: 1차원 배열과 같은 자료로 값뿐만 아니라 각 값에 연결된 index값도 동시에 저장 
* DataFrame: Series들을 하나의 열로 취급한 집합, 데이터를 표의 형태로 처리하는 자료구조

#### Pandas Series 생성

In [10]:
# pd.Series(data,index)
s = pd.Series([1,2,3,4,5,6],['A','B','C','D','E','F'])
s

A    1
B    2
C    3
D    4
E    5
F    6
dtype: int64

#### Pandas DataFrame 생성

In [11]:
#pd.DataFrame (data, index, columns)
df = pd.DataFrame(np.random.rand(6,3),
                  index = ['A','B','C','D','E','F'],
                  columns = ['A1','B1','C1']  )
df

         A1        B1        C1
A  0.066944  0.943126  0.886024
B  0.585812  0.730883  0.525933
C  0.416264  0.979994  0.663048
D  0.253336  0.005017  0.753335
E  0.316150  0.817398  0.338553
F  0.936198  0.019348  0.962717

#### Pandas DataFrame Multiindex 생성

In [12]:
# Multiindex
df2 = pd.DataFrame(np.arange(16).reshape(4,4),

                         index = [['A','A','B','B'],['s1','s2','s1','s2']],

                         columns = [['apple','apple','banana','banana'], ['price','qty','price','qty']],
                         
                        )
df2

     apple     banana
     price qty  price qty
A s1     0   1      2   3
  s2     4   5      6   7
B s1     8   9     10  11
  s2    12  13     14  15

In [13]:
df2.index # Tuple형태로 지정

MultiIndex([('A', 's1'),
            ('A', 's2'),
            ('B', 's1'),
            ('B', 's2')],
           )

#### DataFrame Indexing  
loc - 행,열 Label로 접근  
iloc - 행,열 인덱스값으로 접근

In [14]:
df.loc[:,'B1'] # Series형태 []

A    0.943126
B    0.730883
C    0.979994
D    0.005017
E    0.817398
F    0.019348
Name: B1, dtype: float64

In [15]:
df.iloc[[2],:] # DF 형태 [[]]

         A1        B1        C1
C  0.416264  0.979994  0.663048

In [16]:
df2.loc['A']

   apple     banana
   price qty  price qty
s1     0   1      2   3
s2     4   5      6   7

In [17]:
df2.loc[('A','s1')]  # loc 인덱스에 튜플사용  Series 로 데이터 추출 
                     # 일반적으로 MultiIndex 키는 튜플 형식을 취하기 때문

apple   price    0
        qty      1
banana  price    2
        qty      3
Name: (A, s1), dtype: int32

In [18]:
df2.loc[('B','s2'),('apple','price')]

12