#### # generate csv files

In [1]:
import pandas as pd
import seaborn as sns
sns.load_dataset('iris').to_csv('iris.csv', index=False)
df = pd.read_csv('iris.csv')
display(df.shape, df.head(2))

(150, 5)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa

#### # read csv files partially

In [5]:
import pandas as pd
partial_dataframes = []
for chunk in pd.read_csv('iris.csv', chunksize=15):
    partial_dataframes.append(chunk[:])

In [6]:
len(partial_dataframes)

10

In [7]:
partial_dataframes[0]

    sepal_length  sepal_width  petal_length  petal_width species
0            5.1          3.5           1.4          0.2  setosa
1            4.9          3.0           1.4          0.2  setosa
2            4.7          3.2           1.3          0.2  setosa
3            4.6          3.1           1.5          0.2  setosa
4            5.0          3.6           1.4          0.2  setosa
5            5.4          3.9           1.7          0.4  setosa
6            4.6          3.4           1.4          0.3  setosa
7            5.0          3.4           1.5          0.2  setosa
8            4.4          2.9           1.4          0.2  setosa
9            4.9          3.1           1.5          0.1  setosa
10           5.4          3.7           1.5          0.2  setosa
11           4.8          3.4           1.6          0.2  setosa
12           4.8          3.0           1.4          0.1  setosa
13           4.3          3.0           1.1          0.1  setosa
14           5.8          4.0           1.2          0.2  setosa

In [8]:
partial_dataframes[1]

    sepal_length  sepal_width  petal_length  petal_width species
15           5.7          4.4           1.5          0.4  setosa
16           5.4          3.9           1.3          0.4  setosa
17           5.1          3.5           1.4          0.3  setosa
18           5.7          3.8           1.7          0.3  setosa
19           5.1          3.8           1.5          0.3  setosa
20           5.4          3.4           1.7          0.2  setosa
21           5.1          3.7           1.5          0.4  setosa
22           4.6          3.6           1.0          0.2  setosa
23           5.1          3.3           1.7          0.5  setosa
24           4.8          3.4           1.9          0.2  setosa
25           5.0          3.0           1.6          0.2  setosa
26           5.0          3.4           1.6          0.4  setosa
27           5.2          3.5           1.5          0.2  setosa
28           5.2          3.4           1.4          0.2  setosa
29           4.7          3.2           1.6          0.2  setosa

#### # usage example

In [9]:
import pandas as pd

total = 0
for chunk in pd.read_csv('iris.csv', chunksize=15):
    total += sum(chunk['sepal_length'])

total

876.5

#### # usage example

In [11]:
counts_dict = {}

for chunk in pd.read_csv('iris.csv', chunksize=15):
    for entry in chunk['species']:
        if entry in counts_dict.keys():
            counts_dict[entry] += 1
        else:
            counts_dict[entry] = 1

# Print the populated dictionary
print(counts_dict)

{'setosa': 50, 'versicolor': 50, 'virginica': 50}

#### # usage example: UDF

In [12]:
def count_entries(csv_file, c_size, colname):
    counts_dict = {}
    for chunk in pd.read_csv(csv_file, chunksize=c_size):
        for entry in chunk[colname]:
            if entry in counts_dict.keys():
                counts_dict[entry] += 1
            else:
                counts_dict[entry] = 1
    return counts_dict

result_counts = count_entries('iris.csv', 10, 'species')
print(result_counts)

{'setosa': 50, 'versicolor': 50, 'virginica': 50}