iterable
 - #루프!
 - 반복할 수 있는
 - 순회할 수 있는

In [1]:
li = [1,2,3,4,5]
li

[1, 2, 3, 4, 5]

In [2]:
type(li)

list

In [5]:
t = (1,2,3)
t

(1, 2, 3)

In [6]:
type(t)

tuple

In [7]:
1,2,3

(1, 2, 3)

In [18]:
type(range(5))

range

In [14]:
range(5)

range(0, 5)

In [15]:
range(0,5)

range(0, 5)

In [16]:
range(5,10)

range(5, 10)

In [17]:
list(range(5,10))

[5, 6, 7, 8, 9]

In [19]:
[1,2,3,4]

[1, 2, 3, 4]

In [20]:
print(1)
print(2)
print(3)

1
2
3

In [24]:
for i in 'string':    # s  t r i  n g
    print(i)

s
t
r
i
n
g

In [3]:
'string'

'string'

 - 함수: 정의되어 있는 기능을 하는 코드
 - 메소드: 특정 데이터타입별 객체가 가지고 있는 고유의 함수들 >> .

In [25]:
def foo():
    print(3)

In [26]:
li = [1,2,3,4]
li

[1, 2, 3, 4]

In [ ]:
def append(aaa)

In [32]:
str = 'aa, bb, cc'
str

'aa, bb, cc'

In [33]:
str.split(',').apply(...)   # 메서드 체인

['aa', ' bb', ' cc']

In [35]:
s = str.split(',').append(5)
s

In [27]:
li.append(5)

In [28]:
li

[1, 2, 3, 4, 5]

In [29]:
import pandas as pd
df = pd.DataFrame({'a':[1,2,3]})

In [30]:
df.head().apply().

   a
0  1
1  2
2  3

In [31]:
df.head()

   a
0  1
1  2
2  3

In [ ]:
testprint()

In [42]:
import pandas 
df = pandas.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

In [43]:
type(df)

pandas.core.frame.DataFrame

In [45]:
df

Index([], dtype='object')

In [86]:
from math import pi

In [87]:
pi

3.141592653589793