In [1]:
import pandas as pd

In [3]:
import streamlit as st
import os

In [5]:
PATH = os.getenv('HOME') + '/data/'
PATH

'/Users/taekkim/data/'

In [8]:
df = pd.read_csv(PATH + 'covid_data.csv')
df

,Unnamed: 0,연번,환자,확진일,거주지,여행력,접촉력,퇴원현황
0,0,120000,365713,2021-10-31,성북구,-,기타 확진자 접촉,퇴원
1,1,119999,365443,2021-10-31,영등포구,-,병원 및 요양시설,퇴원
2,2,119998,365716,2021-10-31,성북구,-,성북구 소재 병원 관련('21.10.),퇴원
3,3,119997,365988,2021-10-31,영등포구,-,기타 확진자 접촉,퇴원
4,4,119996,365797,2021-10-31,영등포구,-,기타 확진자 접촉,퇴원
...,...,...,...,...,...,...,...,...
119995,95,105,6070,2020-03-04,강북구,-,감염경로 조사중,퇴원
119996,96,104,6832,2020-03-04,강북구,-,기타 확진자 접촉,퇴원
119997,97,103,5666,2020-03-04,용산구,-,기타 확진자 접촉,퇴원
119998,98,102,5695,2020-03-04,동대문구,유럽,해외유입,퇴원
119999,99,101,5661,2020-03-04,중랑구,-,타시도 확진자 접촉,퇴원

저번에는 encoding_errors를 지정해주지 않아도 가져올수 있었는데 encoding_errors를 지정해주어야함
replace로 처리를 했는데 replace된걸 어떻게 찾아야할지 걱정

## utf-8 인코딩 형식으로 trend.csv 와 cases.csv 만들어 줌

trend.csv 는 오픈소스를 활용

In [52]:
df = pd.read_csv(PATH+'seoul_covid_active_cases.csv', encoding='euc-kr', encoding_errors='replace')
df.to_csv(PATH+'cases.csv', encoding='utf-8')

FileNotFoundError: [Errno 2] No such file or directory: 'cases.csv'

In [53]:
df = pd.read_csv(PATH + 'cases.csv')
df

,Unnamed: 0,연번,확진일,환자번호,국적,환자정보,지역,여행력,접촉력,조치사항,상태,이동경로,등록일,수정일,노출여부
0,0,163146,2021-12-03,NaN,NaN,NaN,영등포구,NaN,감염경로 조사중,NaN,-,NaN,2021-12-04 10:56:14,2021-12-04 10:56:14,Y
1,1,163145,2021-12-03,NaN,NaN,NaN,종로구,NaN,감염경로 조사중,NaN,-,NaN,2021-12-04 10:56:14,2021-12-04 10:56:14,Y
2,2,163144,2021-12-03,NaN,NaN,NaN,성북구,NaN,감염경로 조사중,NaN,-,NaN,2021-12-04 10:56:14,2021-12-04 10:56:14,Y
3,3,163143,2021-12-03,NaN,NaN,NaN,성북구,NaN,감염경로 조사중,NaN,-,NaN,2021-12-04 10:56:14,2021-12-04 10:56:14,Y
4,4,163142,2021-12-03,NaN,NaN,NaN,기타,NaN,감염경로 조사중,NaN,-,NaN,2021-12-04 10:56:14,2021-12-04 10:56:14,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121484,121484,41662,2021-05-19,NaN,NaN,NaN,도봉구,NaN,강북구 소재 PC방 관련,NaN,퇴원,이동경로 공개기간 경과,2021-09-22 11:10:24,2021-09-23 09:00:01,Y
121485,121485,41661,2021-05-19,NaN,NaN,NaN,동작구,NaN,기타 확진자 접촉,NaN,퇴원,이동경로 공개기간 경과,2021-09-22 11:10:24,2021-09-23 09:00:01,Y
121486,121486,41660,2021-05-19,NaN,NaN,NaN,성동구,NaN,기타 확진자 접촉,NaN,퇴원,이동경로 공개기간 경과,2021-09-22 11:10:24,2021-09-23 09:00:01,Y
121487,121487,41659,2021-05-19,NaN,NaN,NaN,중랑구,NaN,기타 확진자 접촉,NaN,퇴원,이동경로 공개기간 경과,2021-09-22 11:10:24,2021-09-23 09:00:01,Y
121488,121488,41658,2021-05-19,NaN,NaN,NaN,중랑구,NaN,감염경로 조사중,NaN,퇴원,이동경로 공개기간 경과,2021-09-22 11:10:24,2021-09-23 09:00:01,Y

# trend.csv 데이터 전처리

In [135]:
df = pd.read_csv(PATH + 'trend.csv')
df

,"서울시 기준일""",서울시 확진자,서울시 추가 확진,서울시 치료중,서울시 퇴원,서울시 추가 퇴원,서울시 사망,서울시 의심환자 전체,서울시 의심환자 검사중,서울시 의심환자 검사결과(음성),...,전국 퇴원,전국 사망,전국 의심환자 전체,전국 의심환자 검사중,전국 의심환자 검사결과(음성),자가격리자 해외입국자 감시중,자가격리자 해외입국자 감시해제,자가격리자 접촉자 감시중,자가격리자 접촉자 감시해제,확인중 확진자
0,2021.12.04.00,163146,2273,25818,136150,1064,1178,NaN,NaN,NaN,...,405543,3809,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1,2021.12.03.00,160873,2099,24639,135086,1889,1148,NaN,NaN,NaN,...,403419,3739,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2,2021.12.02.00,158774,2268,24441,133197,1330,1136,NaN,NaN,NaN,...,400585,3705,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
3,2021.12.01.00,156507,2222,23527,131867,1299,1113,NaN,NaN,NaN,...,398323,3659,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
4,2021.11.30.00,154286,1186,22618,130568,1264,1100,NaN,NaN,NaN,...,396070,3624,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
659,2020.02.09.18,10,0,10,0,0,0,459.0,45.0,414.0,...,3,0,2571.0,888.0,1683.0,0.0,0.0,0.0,0.0,NaN
660,2020.02.08.18,10,0,10,0,0,0,414.0,92.0,322.0,...,2,0,1677.0,620.0,1057.0,0.0,0.0,0.0,0.0,NaN
661,2020.02.07.18,10,0,10,0,0,0,322.0,115.0,207.0,...,2,0,1106.0,264.0,842.0,0.0,0.0,0.0,0.0,NaN
662,2020.02.06.09,11,0,11,0,0,0,192.0,28.0,164.0,...,1,0,591.0,169.0,693.0,0.0,0.0,0.0,0.0,NaN
663,2020.02.05.15,8,0,8,0,0,0,0.0,16.0,148.0,...,0,0,200.0,174.0,522.0,0.0,0.0,0.0,0.0,NaN

## 이름 이상한 컬럼명 변경

In [136]:
df.columns

Index(['서울시 기준일"', '서울시 확진자', '서울시 추가 확진', '서울시 치료중', '서울시 퇴원', '서울시 추가 퇴원',
       '서울시 사망', '서울시 의심환자 전체', '서울시 의심환자 검사중', '서울시 의심환자 검사결과(음성)', '전국 기준일',
       '전국 확진', '전국 추가 확진', '전국 치료중', '전국 퇴원', '전국 사망', '전국 의심환자 전체',
       '전국 의심환자 검사중', '전국 의심환자 검사결과(음성)', '자가격리자 해외입국자 감시중',
       '자가격리자 해외입국자 감시해제', '자가격리자 접촉자 감시중', '자가격리자 접촉자 감시해제', '확인중 확진자'],
      dtype='object')

In [137]:
df.rename(columns = {'서울시 기준일"':'서울시 기준일'}, inplace=True)
df

,서울시 기준일,서울시 확진자,서울시 추가 확진,서울시 치료중,서울시 퇴원,서울시 추가 퇴원,서울시 사망,서울시 의심환자 전체,서울시 의심환자 검사중,서울시 의심환자 검사결과(음성),...,전국 퇴원,전국 사망,전국 의심환자 전체,전국 의심환자 검사중,전국 의심환자 검사결과(음성),자가격리자 해외입국자 감시중,자가격리자 해외입국자 감시해제,자가격리자 접촉자 감시중,자가격리자 접촉자 감시해제,확인중 확진자
0,2021.12.04.00,163146,2273,25818,136150,1064,1178,NaN,NaN,NaN,...,405543,3809,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1,2021.12.03.00,160873,2099,24639,135086,1889,1148,NaN,NaN,NaN,...,403419,3739,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2,2021.12.02.00,158774,2268,24441,133197,1330,1136,NaN,NaN,NaN,...,400585,3705,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
3,2021.12.01.00,156507,2222,23527,131867,1299,1113,NaN,NaN,NaN,...,398323,3659,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
4,2021.11.30.00,154286,1186,22618,130568,1264,1100,NaN,NaN,NaN,...,396070,3624,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
659,2020.02.09.18,10,0,10,0,0,0,459.0,45.0,414.0,...,3,0,2571.0,888.0,1683.0,0.0,0.0,0.0,0.0,NaN
660,2020.02.08.18,10,0,10,0,0,0,414.0,92.0,322.0,...,2,0,1677.0,620.0,1057.0,0.0,0.0,0.0,0.0,NaN
661,2020.02.07.18,10,0,10,0,0,0,322.0,115.0,207.0,...,2,0,1106.0,264.0,842.0,0.0,0.0,0.0,0.0,NaN
662,2020.02.06.09,11,0,11,0,0,0,192.0,28.0,164.0,...,1,0,591.0,169.0,693.0,0.0,0.0,0.0,0.0,NaN
663,2020.02.05.15,8,0,8,0,0,0,0.0,16.0,148.0,...,0,0,200.0,174.0,522.0,0.0,0.0,0.0,0.0,NaN

## NULL 많은 컬럼 제거

In [138]:
df.isna().sum()

서울시 기준일                0
서울시 확진자                0
서울시 추가 확진              0
서울시 치료중                0
서울시 퇴원                 0
서울시 추가 퇴원              0
서울시 사망                 0
서울시 의심환자 전체          477
서울시 의심환자 검사중         476
서울시 의심환자 검사결과(음성)    476
전국 기준일                 0
전국 확진                  0
전국 추가 확진               0
전국 치료중                 0
전국 퇴원                  0
전국 사망                  0
전국 의심환자 전체           477
전국 의심환자 검사중          476
전국 의심환자 검사결과(음성)     476
자가격리자 해외입국자 감시중      476
자가격리자 해외입국자 감시해제     476
자가격리자 접촉자 감시중        476
자가격리자 접촉자 감시해제       476
확인중 확진자               23
dtype: int64

길이가 476~477인 column은 재거, 23인 열은 확인

In [139]:
df['확인중 확진자']

0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
      ...
659    NaN
660    NaN
661    NaN
662    NaN
663    NaN
Name: 확인중 확진자, Length: 664, dtype: float64

데이터가 다 0.0이거나 NaN임 drop하면 될 듯

## NaN가진 columns drop

In [140]:
df.dropna(axis='columns', inplace=True)
df

,서울시 기준일,서울시 확진자,서울시 추가 확진,서울시 치료중,서울시 퇴원,서울시 추가 퇴원,서울시 사망,전국 기준일,전국 확진,전국 추가 확진,전국 치료중,전국 퇴원,전국 사망
0,2021.12.04.00,163146,2273,25818,136150,1064,1178,2021.12.04.00,467907,5352,58555,405543,3809
1,2021.12.03.00,160873,2099,24639,135086,1889,1148,2021.12.03.00,462555,4944,55397,403419,3739
2,2021.12.02.00,158774,2268,24441,133197,1330,1136,2021.12.02.00,457612,5266,53322,400585,3705
3,2021.12.01.00,156507,2222,23527,131867,1299,1113,2021.12.01.00,452350,5123,50368,398323,3659
4,2021.11.30.00,154286,1186,22618,130568,1264,1100,2021.11.30.00,447230,3032,47536,396070,3624
...,...,...,...,...,...,...,...,...,...,...,...,...,...
659,2020.02.09.18,10,0,10,0,0,0,2020.02.09.18,27,0,24,3,0
660,2020.02.08.18,10,0,10,0,0,0,2020.02.08.18,24,0,22,2,0
661,2020.02.07.18,10,0,10,0,0,0,2020.02.07.18,24,0,22,2,0
662,2020.02.06.09,11,0,11,0,0,0,2020.02.06.09,24,0,23,1,0
663,2020.02.05.15,8,0,8,0,0,0,2020.02.05.15,18,0,18,0,0

## string to datetime

In [141]:
from datetime import datetime as dt

In [142]:
type(df['서울시 기준일'][0])

str

In [143]:
tmp = df['서울시 기준일'].eq(df['전국 기준일'])
tmp

0      True
1      True
2      True
3      True
4      True
       ...
659    True
660    True
661    True
662    True
663    True
Length: 664, dtype: bool

In [144]:
df['서울시 기준일'][tmp == False]

536    2020.06.11.10
537    2020.06.10.10
538    2020.06.09.10
539    2020.06.08.10
540    2020.06.07.10
           ...
636    2020.03.03.10
638    2020.03.01.10
639    2020.02.29.10
640    2020.02.28.10
641    2020.02.27.10
Name: 서울시 기준일, Length: 95, dtype: object

In [145]:
df['전국 기준일'][tmp == False]

536    2020.06.11.00
537    2020.06.10.00
538    2020.06.09.00
539    2020.06.08.00
540    2020.06.07.00
           ...
636    2020.03.03.00
638    2020.03.01.16
639    2020.02.29.16
640    2020.02.28.16
641    2020.02.27.16
Name: 전국 기준일, Length: 95, dtype: object

서울시 기준일과 전국 기준일의 다른점은 시각밖에 없는 것 같다.

In [146]:
df['서울시 기준일'] = df['서울시 기준일'].apply(lambda x: dt.strptime(x, '%Y.%m.%d.%H'))
df['전국 기준일'] = df['전국 기준일'].apply(lambda x: dt.strptime(x, '%Y.%m.%d.%H'))

In [147]:
df['서울시 기준일']

0     2021-12-04 00:00:00
1     2021-12-03 00:00:00
2     2021-12-02 00:00:00
3     2021-12-01 00:00:00
4     2021-11-30 00:00:00
              ...
659   2020-02-09 18:00:00
660   2020-02-08 18:00:00
661   2020-02-07 18:00:00
662   2020-02-06 09:00:00
663   2020-02-05 15:00:00
Name: 서울시 기준일, Length: 664, dtype: datetime64[ns]

datetime으로 변환하는데 성공했다

### 추가 확진 추가 퇴원같은 column들 삭제

In [110]:
df.drop(columns=['서울시 추가 확진', '서울시 추가 퇴원', '전국 추가 확진'], inplace=True)
df

,서울시 기준일,서울시 확진자,서울시 치료중,서울시 퇴원,서울시 사망,전국 기준일,전국 확진,전국 치료중,전국 퇴원,전국 사망
0,2021-12-04 00:00:00,163146,25818,136150,1178,2021-12-04 00:00:00,467907,58555,405543,3809
1,2021-12-03 00:00:00,160873,24639,135086,1148,2021-12-03 00:00:00,462555,55397,403419,3739
2,2021-12-02 00:00:00,158774,24441,133197,1136,2021-12-02 00:00:00,457612,53322,400585,3705
3,2021-12-01 00:00:00,156507,23527,131867,1113,2021-12-01 00:00:00,452350,50368,398323,3659
4,2021-11-30 00:00:00,154286,22618,130568,1100,2021-11-30 00:00:00,447230,47536,396070,3624
...,...,...,...,...,...,...,...,...,...,...
659,2020-02-09 18:00:00,10,10,0,0,2020-02-09 18:00:00,27,24,3,0
660,2020-02-08 18:00:00,10,10,0,0,2020-02-08 18:00:00,24,22,2,0
661,2020-02-07 18:00:00,10,10,0,0,2020-02-07 18:00:00,24,22,2,0
662,2020-02-06 09:00:00,11,11,0,0,2020-02-06 09:00:00,24,23,1,0
663,2020-02-05 15:00:00,8,8,0,0,2020-02-05 15:00:00,18,18,0,0

## 저장

In [149]:
df.to_csv(PATH + 'trends-extend.csv', index=False)
df

,서울시 기준일,서울시 확진자,서울시 추가 확진,서울시 치료중,서울시 퇴원,서울시 추가 퇴원,서울시 사망,전국 기준일,전국 확진,전국 추가 확진,전국 치료중,전국 퇴원,전국 사망
0,2021-12-04 00:00:00,163146,2273,25818,136150,1064,1178,2021-12-04 00:00:00,467907,5352,58555,405543,3809
1,2021-12-03 00:00:00,160873,2099,24639,135086,1889,1148,2021-12-03 00:00:00,462555,4944,55397,403419,3739
2,2021-12-02 00:00:00,158774,2268,24441,133197,1330,1136,2021-12-02 00:00:00,457612,5266,53322,400585,3705
3,2021-12-01 00:00:00,156507,2222,23527,131867,1299,1113,2021-12-01 00:00:00,452350,5123,50368,398323,3659
4,2021-11-30 00:00:00,154286,1186,22618,130568,1264,1100,2021-11-30 00:00:00,447230,3032,47536,396070,3624
...,...,...,...,...,...,...,...,...,...,...,...,...,...
659,2020-02-09 18:00:00,10,0,10,0,0,0,2020-02-09 18:00:00,27,0,24,3,0
660,2020-02-08 18:00:00,10,0,10,0,0,0,2020-02-08 18:00:00,24,0,22,2,0
661,2020-02-07 18:00:00,10,0,10,0,0,0,2020-02-07 18:00:00,24,0,22,2,0
662,2020-02-06 09:00:00,11,0,11,0,0,0,2020-02-06 09:00:00,24,0,23,1,0
663,2020-02-05 15:00:00,8,0,8,0,0,0,2020-02-05 15:00:00,18,0,18,0,0

In [150]:
df.iloc[0, 1]

163146

In [114]:
df = pd.read_csv('~/data/trends.csv')
df

,서울시 기준일,서울시 확진자,서울시 치료중,서울시 퇴원,서울시 사망,전국 기준일,전국 확진,전국 치료중,전국 퇴원,전국 사망
0,2021-12-04 00:00:00,163146,25818,136150,1178,2021-12-04 00:00:00,467907,58555,405543,3809
1,2021-12-03 00:00:00,160873,24639,135086,1148,2021-12-03 00:00:00,462555,55397,403419,3739
2,2021-12-02 00:00:00,158774,24441,133197,1136,2021-12-02 00:00:00,457612,53322,400585,3705
3,2021-12-01 00:00:00,156507,23527,131867,1113,2021-12-01 00:00:00,452350,50368,398323,3659
4,2021-11-30 00:00:00,154286,22618,130568,1100,2021-11-30 00:00:00,447230,47536,396070,3624
...,...,...,...,...,...,...,...,...,...,...
659,2020-02-09 18:00:00,10,10,0,0,2020-02-09 18:00:00,27,24,3,0
660,2020-02-08 18:00:00,10,10,0,0,2020-02-08 18:00:00,24,22,2,0
661,2020-02-07 18:00:00,10,10,0,0,2020-02-07 18:00:00,24,22,2,0
662,2020-02-06 09:00:00,11,11,0,0,2020-02-06 09:00:00,24,23,1,0
663,2020-02-05 15:00:00,8,8,0,0,2020-02-05 15:00:00,18,18,0,0

In [156]:
dir(time)

['__add__',
 '__array_priority__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__pyx_vtable__',
 '__radd__',
 '__reduce__',
 '__reduce_cython__',
 '__reduce_ex__',
 '__repr__',
 '__rsub__',
 '__setattr__',
 '__setstate__',
 '__setstate_cython__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__weakref__',
 '_date_repr',
 '_freq',
 '_freqstr',
 '_repr_base',
 '_round',
 '_set_freq',
 '_short_repr',
 '_time_repr',
 'asm8',
 'astimezone',
 'ceil',
 'combine',
 'ctime',
 'date',
 'day',
 'day_name',
 'day_of_week',
 'day_of_year',
 'dayofweek',
 'dayofyear',
 'days_in_month',
 'daysinmonth',
 'dst',
 'floor',
 'fold',
 'freq',
 'freqstr',
 'fromisocalendar',
 'fromisoformat',
 'fromordinal',
 'fromtimestamp',
 'hour',
 'is_leap_year',
 'is_month_end',
 'is_month_start',
 'is_quarter_end',
 'is_quarter_start',
 'is_year_end',
 'is_year_start',
 'isocalendar',
 'isoformat',
 'isoweekday',
 'max',
 'microsecond',
 'min',
 'minute',
 'month',
 'month_name',
 'nanosecond',
 'normalize',
 'now',
 'quarter',
 'replace',
 'resolution',
 'round',
 'second',
 'strftime',
 'strptime',
 'time',
 'timestamp',
 'timetuple',
 'timetz',
 'to_datetime64',
 'to_julian_date',
 'to_numpy',
 'to_period',
 'to_pydatetime',
 'today',
 'toordinal',
 'tz',
 'tz_convert',
 'tz_localize',
 'tzinfo',
 'tzname',
 'utcfromtimestamp',
 'utcnow',
 'utcoffset',
 'utctimetuple',
 'value',
 'week',
 'weekday',
 'weekofyear',
 'year']

In [162]:
time = df.iloc[0][0]
print(time.date())

2021-12-04

In [132]:
df_seoul = df.iloc[:,[0,1,2,3,4]]
df_seoul.set_index('서울시 기준일')

                     서울시 확진자  서울시 치료중  서울시 퇴원  서울시 사망
서울시 기준일
2021-12-04 00:00:00   163146    25818  136150    1178
2021-12-03 00:00:00   160873    24639  135086    1148
2021-12-02 00:00:00   158774    24441  133197    1136
2021-12-01 00:00:00   156507    23527  131867    1113
2021-11-30 00:00:00   154286    22618  130568    1100
...                      ...      ...     ...     ...
2020-02-09 18:00:00       10       10       0       0
2020-02-08 18:00:00       10       10       0       0
2020-02-07 18:00:00       10       10       0       0
2020-02-06 09:00:00       11       11       0       0
2020-02-05 15:00:00        8        8       0       0

[664 rows x 4 columns]

In [ ]:
df_new = df.astype(str)
df_new

In [120]:
df_new[::30]

,서울시 기준일,서울시 확진자,서울시 치료중,서울시 퇴원,서울시 사망,전국 기준일,전국 확진,전국 치료중,전국 퇴원,전국 사망
0,2021-12-04 00:00:00,163146,25818,136150,1178,2021-12-04 00:00:00,467907,58555,405543,3809
30,2021-10-29 00:00:00,118128,11177,106165,786,2021-10-29 00:00:00,360536,24724,332995,2817
60,2021-09-29 00:00:00,99550,13553,85358,639,2021-09-29 00:00:00,308725,33527,272724,2474
90,2021-08-30 00:00:00,78899,9280,69037,582,2021-08-30 00:00:00,250051,27409,220358,2284
120,2021-07-31 00:00:00,64359,7760,56065,534,2021-07-31 00:00:00,198345,22073,174177,2095
150,2021-07-01 00:00:00,50321,3214,46593,514,2021-07-01 00:00:00,157723,7678,148024,2021
180,2021-06-01 00:00:00,44064,2541,41032,491,2021-06-01 00:00:00,140799,7373,131463,1963
210,2021-05-03 00:00:00,38341,2781,35109,451,2021-05-03 00:00:00,123728,8538,113356,1834
240,2021-04-03 00:00:00,32551,2148,29976,427,2021-04-03 00:00:00,104736,6800,96196,1740
270,2021-03-04 00:00:00,28691,2884,25419,388,2021-03-04 00:00:00,91240,7459,82162,1619
300,2021-02-02 00:00:00,24395,3584,20485,326,2021-02-02 00:00:00,78844,8634,68775,1435
330,2021-01-03 00:00:00,19809,8099,11521,189,2021-01-03 00:00:00,63244,17775,44507,962
360,2020-12-04 00:00:00,9716,2845,6774,97,2020-12-04 00:00:00,36332,7185,28611,536
390,2020-11-04 00:00:00,6145,495,5572,78,2020-11-04 00:00:00,26925,1835,24616,474
420,2020-10-05 00:00:00,5395,859,4475,61,2020-10-05 00:00:00,24164,1856,21886,422
450,2020-09-05 00:00:00,4251,2006,2220,25,2020-09-05 00:00:00,21010,4668,16009,333
480,2020-08-06 00:00:00,1636,136,1488,12,2020-08-06 00:00:00,14499,697,13500,302
510,2020-07-07 00:00:00,1375,223,1144,8,2020-07-07 00:00:00,13181,982,11914,285
540,2020-06-07 10:00:00,979,324,651,4,2020-06-07 00:00:00,11776,951,10552,273
570,2020-05-08 10:00:00,648,126,520,2,2020-05-08 00:00:00,10822,1082,9484,256
600,2020-04-08 10:00:00,581,410,169,2,2020-04-08 00:00:00,10384,3408,6776,200
630,2020-03-09 10:00:00,130,101,29,0,2020-03-09 00:00:00,7382,7165,166,51
660,2020-02-08 18:00:00,10,10,0,0,2020-02-08 18:00:00,24,22,2,0