###Subset DF(부분집합 데이터프레임)

In [ ]:
import pandas as pd
data = pd.read_csv('/content/drive/MyDrive/my_data/서울주택도시공사_전세임대 주택(신혼부부 2형) 공급계획_csv.csv',encoding='CP949',index_col=0)
print(data)

data_apt = pd.DataFrame(data)
print(data_apt.shape)
print(type(data_apt))

      호수(2021년)  호수(2020년)  증감(2021-2020)
지역
강남구           3          4             -1
강동구           6          6              0
강북구           3          4             -1
강서구           5          5              0
관악구           8          4              4
광진구           6          4              2
구로구           4          4              0
금천구           4          1              3
노원구           5          4              1
도봉구           3          2              1
동대문구          6          4              2
동작구           3          8             -5
마포구           3          3              0
서대문구          4          3              1
서초구           5          5              0
성동구           4          3              1
성북구           4          7             -3
송파구           6          9             -3
양천구           5          5              0
영등포구          1          1              0
용산구           2          3             -1
은평구           4          4              0
종로구           1          2             -1
중구            1          2             -1
중랑구           4          3              1
(25, 3)
<class 'pandas.core.frame.DataFrame'>

In [ ]:
#값은 같지만 다르게 표현가능하다
print(data_apt["증감(2021-2020)"])
print(data_apt.loc[:,"증감(2021-2020)"])
print(data_apt.iloc[:,2])

지역
강남구    -1
강동구     0
강북구    -1
강서구     0
관악구     4
광진구     2
구로구     0
금천구     3
노원구     1
도봉구     1
동대문구    2
동작구    -5
마포구     0
서대문구    1
서초구     0
성동구     1
성북구    -3
송파구    -3
양천구     0
영등포구    0
용산구    -1
은평구     0
종로구    -1
중구     -1
중랑구     1
Name: 증감(2021-2020), dtype: int64
지역
강남구    -1
강동구     0
강북구    -1
강서구     0
관악구     4
광진구     2
구로구     0
금천구     3
노원구     1
도봉구     1
동대문구    2
동작구    -5
마포구     0
서대문구    1
서초구     0
성동구     1
성북구    -3
송파구    -3
양천구     0
영등포구    0
용산구    -1
은평구     0
종로구    -1
중구     -1
중랑구     1
Name: 증감(2021-2020), dtype: int64
지역
강남구    -1
강동구     0
강북구    -1
강서구     0
관악구     4
광진구     2
구로구     0
금천구     3
노원구     1
도봉구     1
동대문구    2
동작구    -5
마포구     0
서대문구    1
서초구     0
성동구     1
성북구    -3
송파구    -3
양천구     0
영등포구    0
용산구    -1
은평구     0
종로구    -1
중구     -1
중랑구     1
Name: 증감(2021-2020), dtype: int64

In [ ]:
#불리언 값이 포함된 Series를 도출한다
new_choice = data_apt["증감(2021-2020)"] >  0
new_choice

지역
강남구     False
강동구     False
강북구     False
강서구     False
관악구      True
광진구      True
구로구     False
금천구      True
노원구      True
도봉구      True
동대문구     True
동작구     False
마포구     False
서대문구     True
서초구     False
성동구      True
성북구     False
송파구     False
양천구     False
영등포구    False
용산구     False
은평구     False
종로구     False
중구      False
중랑구      True
Name: 증감(2021-2020), dtype: bool

In [ ]:
#새로운 변수에 불리언 값이 포함된 시리즈를 넣고, 그 변수를 df에 넣으면, 원하는 값만 도출이 된다!

data_apt[new_choice]

      호수(2021년)  호수(2020년)  증감(2021-2020)
지역
관악구           8          4              4
광진구           6          4              2
금천구           4          1              3
노원구           5          4              1
도봉구           3          2              1
동대문구          6          4              2
서대문구          4          3              1
성동구           4          3              1
중랑구           4          3              1

In [ ]:
#똑같은 값을 도출하지만, 더 간단하게 코드짜기
data_apt[data_apt["증감(2021-2020)"] > 0]

      호수(2021년)  호수(2020년)  증감(2021-2020)
지역
관악구           8          4              4
광진구           6          4              2
금천구           4          1              3
노원구           5          4              1
도봉구           3          2              1
동대문구          6          4              2
서대문구          4          3              1
성동구           4          3              1
중랑구           4          3              1

###Pandas에서 Numpy속성 활용해 여러조건 결과 도출하기

In [ ]:
import numpy as np
data_apt_update = np.logical_and(data_apt["증감(2021-2020)"] > 0 ,data_apt["증감(2021-2020)"] < 3 )
data_apt[data_apt_update]

      호수(2021년)  호수(2020년)  증감(2021-2020)
지역
광진구           6          4              2
노원구           5          4              1
도봉구           3          2              1
동대문구          6          4              2
서대문구          4          3              1
성동구           4          3              1
중랑구           4          3              1