###Dictionary 등장배경

In [ ]:
#List로 각 음식(키로 가정)과 가격(값으로 가정)을 연결하려면 이렇게 해야한다.
food = ["고구마치즈돈까스","연어덮밥","고등어회","회냉면"]
price = [9000,11000,30000,8500]
ind = food.index("고등어회")
print(ind) 

#매우 불편한 것을 볼 수 있다.
price[ind]

2

30000

In [ ]:
#하지만 Dictionary는 이렇게 편리하다!
foodworld = {"고구마치즈돈까스":9000,"연어덮밥":11000,"고등어회":30000,"회냉면":8500}
foodworld["고구마치즈돈까스"]

9000

####Dictionary 특징
1.딕셔너리 객체는 넣은 순서대로 저장되지 않기 때문에 검색할 때 속도가 좋다.(해싱 기법을 이용하기 때문에 자료가 순서대로 저장되지 않는다.) 

2.해싱기법이란 --> 잘 정리된 블로그글참고!
https://comdoc.tistory.com/entry/17-%ED%95%B4%EC%8B%B1hashing-%ED%8C%8C%EC%9D%B4%EC%8D%AC
 

3.key값는 변하지 않는 값을 사용하고, 중복이 불가능하다. value값은 변동이 가능하다.

4.index기능이 없고, key값으로 조회가 가능

5.딕셔너리에 리스트요소 추가 가능하고, 딕셔너리에 딕셔너리 요소 추가도 가능하다.

In [ ]:
#list는 index를 숫자로만 지정할 수 있지만, dictionary는 문자,집합
foodworld = {"고구마치즈돈까스":9000,"연어덮밥":11000,"고등어회":30000,"회냉면":8500,"고구마치즈돈까스":7000}
foodworld

#새로운 키:값을 추가하는 방법이다.
foodworld["비빔밥"] = 15000
print(foodworld)

#이렇게 참/거짓으로 확인해 볼 수도 있다.
"비빔밥" in foodworld

{'고구마치즈돈까스': 7000, '연어덮밥': 11000, '고등어회': 30000, '회냉면': 8500, '비빔밥': 15000}

True

In [ ]:
#추가한 키값 삭제하기
del(foodworld["비빔밥"])
foodworld

{'고구마치즈돈까스': 7000, '고등어회': 30000, '연어덮밥': 11000, '회냉면': 8500}

##Pandas 등장배경

In [2]:
#Numpy도 있는데, 왜 Pandas?
#Pandas는 Numpy 패키지를 기반으로 구축되었고, Numpy보다 다양한 유형이 커버 가능!
#Pandas에서 행은 관측치, 열은 변수를 나타낸다.
import pandas as pd
dict = {
    "date":['21.10.8','21.10.9'],
    "time":['9:00',"10:00"],
    "action":['running','eating'] }
dataframe = pd.DataFrame(dict)
dataframe.index = ["one","two"]
dataframe

        date   time   action
one  21.10.8   9:00  running
two  21.10.9  10:00   eating

###다량의 외부데이터 가져오는 방법(feat.CSV)

In [4]:
#CSV는 쉼표로 구분 된 값의 약자이다.
#pd.read_csv함수를 통해 csv파일을 가져올 수 있다. index_col함수는 
dataframe2 = pd.read_csv("/content/drive/MyDrive/my_data/서울특별시_용산구_종량제봉투가격_csv.csv",encoding='CP949',index_col=0)

In [7]:
print(dataframe2)
garbage_bag = pd.DataFrame(dataframe2)
garbage_bag

      시군구명  종량제봉투종류 종량제봉투처리방식 종량제봉투용도  ... 125ℓ가격  관리부서명      관리부서전화번호     데이터기준일자
시도명                                    ...
서울특별시  용산구     규격봉투        기타   생활쓰레기  ...      0  자원순환과  02-2199-7298  2021-09-27
서울특별시  용산구     규격봉투        기타  음식물쓰레기  ...      0  자원순환과  02-2199-7298  2021-09-27
서울특별시  용산구   특수규격마대        기타   생활쓰레기  ...      0  자원순환과  02-2199-7298  2021-09-27
서울특별시  용산구  재사용규격봉투        기타   생활쓰레기  ...      0  자원순환과  02-2199-7298  2021-09-27
서울특별시  용산구     규격봉투        기타   생활쓰레기  ...      0  자원순환과  02-2199-7298  2021-09-27

[5 rows x 23 columns]

      시군구명  종량제봉투종류 종량제봉투처리방식 종량제봉투용도  ... 125ℓ가격  관리부서명      관리부서전화번호     데이터기준일자
시도명                                    ...
서울특별시  용산구     규격봉투        기타   생활쓰레기  ...      0  자원순환과  02-2199-7298  2021-09-27
서울특별시  용산구     규격봉투        기타  음식물쓰레기  ...      0  자원순환과  02-2199-7298  2021-09-27
서울특별시  용산구   특수규격마대        기타   생활쓰레기  ...      0  자원순환과  02-2199-7298  2021-09-27
서울특별시  용산구  재사용규격봉투        기타   생활쓰레기  ...      0  자원순환과  02-2199-7298  2021-09-27
서울특별시  용산구     규격봉투        기타   생활쓰레기  ...      0  자원순환과  02-2199-7298  2021-09-27

[5 rows x 23 columns]

###DataFrame에서 다양한 메소드

In [9]:
#열을 선택하고 시리즈 타입으로 받아오는 경우 / []
#열을 선택하고, 타입은 유지하려는 경우 / [[]]는 데이터프레임 타입 반환
print(type(garbage_bag['1.5ℓ가격']))
print(type(garbage_bag[['1.5ℓ가격']]))

<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>

In [16]:
#데이터프레임의 상위 n개 행을 출력해 보여줌
print(garbage_bag.head(3))

#데이터프레임의 하위 n개 행을 출력해 보여줌
print(garbage_bag.tail(2))

#행과 열 정보를 보여준다(row, column)
print(garbage_bag.shape)

#column(열)정보를 보여준다
print(garbage_bag.columns)

#모든 열과, 열에 대한 정보를 보여주기 때문에 결측치의 유무 또한 알 수 있다.
print(garbage_bag.info())

#각 column(열)에 대한 여러 통계량들을 보여준다
#count,mean,std,min,25%,50%,75%,max 순서대로
print(garbage_bag.describe())

      시군구명 종량제봉투종류 종량제봉투처리방식 종량제봉투용도  ... 125ℓ가격  관리부서명      관리부서전화번호     데이터기준일자
시도명                                   ...
서울특별시  용산구    규격봉투        기타   생활쓰레기  ...      0  자원순환과  02-2199-7298  2021-09-27
서울특별시  용산구    규격봉투        기타  음식물쓰레기  ...      0  자원순환과  02-2199-7298  2021-09-27
서울특별시  용산구  특수규격마대        기타   생활쓰레기  ...      0  자원순환과  02-2199-7298  2021-09-27

[3 rows x 23 columns]
      시군구명  종량제봉투종류 종량제봉투처리방식 종량제봉투용도  ... 125ℓ가격  관리부서명      관리부서전화번호     데이터기준일자
시도명                                    ...
서울특별시  용산구  재사용규격봉투        기타   생활쓰레기  ...      0  자원순환과  02-2199-7298  2021-09-27
서울특별시  용산구     규격봉투        기타   생활쓰레기  ...      0  자원순환과  02-2199-7298  2021-09-27

[2 rows x 23 columns]
(5, 23)
Index(['시군구명', '종량제봉투종류', '종량제봉투처리방식', '종량제봉투용도', '종량제봉투사용대상', '1ℓ가격',
       '1.5ℓ가격', '2ℓ가격', '2.5ℓ가격', '3ℓ가격', '5ℓ가격', '10ℓ가격', '20ℓ가격', '30ℓ가격',
       '50ℓ가격', '60ℓ가격', '75ℓ가격', '100ℓ가격', '120ℓ가격', '125ℓ가격', '관리부서명',
       '관리부서전화번호', '데이터기준일자'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, 서울특별시 to 서울특별시
Data columns (total 23 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   시군구명       5 non-null      object
 1   종량제봉투종류    5 non-null      object
 2   종량제봉투처리방식  5 non-null      object
 3   종량제봉투용도    5 non-null      object
 4   종량제봉투사용대상  5 non-null      object
 5   1ℓ가격       5 non-null      int64
 6   1.5ℓ가격     5 non-null      int64
 7   2ℓ가격       5 non-null      int64
 8   2.5ℓ가격     5 non-null      int64
 9   3ℓ가격       5 non-null      int64
 10  5ℓ가격       5 non-null      int64
 11  10ℓ가격      5 non-null      int64
 12  20ℓ가격      5 non-null      int64
 13  30ℓ가격      5 non-null      int64
 14  50ℓ가격      5 non-null      int64
 15  60ℓ가격      5 non-null      int64
 16  75ℓ가격      5 non-null      int64
 17  100ℓ가격     5 non-null      int64
 18  120ℓ가격     5 non-null      int64
 19  125ℓ가격     5 non-null      int64
 20  관리부서명      5 non-null      object
 21  관리부서전화번호   5 non-null      object
 22  데이터기준일자    5 non-null      object
dtypes: int64(15), object(8)
memory usage: 960.0+ bytes
None
            1ℓ가격  1.5ℓ가격        2ℓ가격  ...       100ℓ가격  120ℓ가격  125ℓ가격
count    5.00000     5.0    5.000000  ...     5.000000     5.0     5.0
mean    20.00000     0.0   38.000000  ...  1300.000000     0.0     0.0
std     44.72136     0.0   84.970583  ...  1857.417562     0.0     0.0
min      0.00000     0.0    0.000000  ...     0.000000     0.0     0.0
25%      0.00000     0.0    0.000000  ...     0.000000     0.0     0.0
50%      0.00000     0.0    0.000000  ...     0.000000     0.0     0.0
75%      0.00000     0.0    0.000000  ...  2500.000000     0.0     0.0
max    100.00000     0.0  190.000000  ...  4000.000000     0.0     0.0

[8 rows x 15 columns]

In [25]:
#loc를 통해 컬럼명으로 접근이 가능하고,iloc를 통해 인덱스로 접근이 가능하다!
print(garbage_bag.iloc[0:1])
print(garbage_bag.iloc[0])

print(garbage_bag.loc['서울특별시','종량제봉투사용대상'])

      시군구명 종량제봉투종류 종량제봉투처리방식 종량제봉투용도  ... 125ℓ가격  관리부서명      관리부서전화번호     데이터기준일자
시도명                                   ...
서울특별시  용산구    규격봉투        기타   생활쓰레기  ...      0  자원순환과  02-2199-7298  2021-09-27

[1 rows x 23 columns]
시군구명                  용산구
종량제봉투종류              규격봉투
종량제봉투처리방식              기타
종량제봉투용도             생활쓰레기
종량제봉투사용대상             가정용
1ℓ가격                    0
1.5ℓ가격                  0
2ℓ가격                    0
2.5ℓ가격                  0
3ℓ가격                   90
5ℓ가격                  130
10ℓ가격                 250
20ℓ가격                 490
30ℓ가격                 740
50ℓ가격                1250
60ℓ가격                   0
75ℓ가격                1880
100ℓ가격               2500
120ℓ가격                  0
125ℓ가격                  0
관리부서명               자원순환과
관리부서전화번호     02-2199-7298
데이터기준일자        2021-09-27
Name: 서울특별시, dtype: object
시도명
서울특별시     가정용
서울특별시     가정용
서울특별시     가정용
서울특별시     가정용
서울특별시    사업장용
Name: 종량제봉투사용대상, dtype: object